.primary-overlay {
  background: rgba(63, 57, 77, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  background: url(https://media.giphy.com/media/46hpy8xB3MiHfruixn/giphy.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  position: relative;
}

.main-header .showcase {
  padding-top: 110px;

}

.scroll-icon {
  position: absolute;
  bottom: 5%;
  left: 47%;
  opacity: 0.5;
}
.section-about {
  margin-top: 50px;
  margin-bottom: 50px;
}
.box {
  padding: 40px 10px !important;
}

.box h4 {
  padding-bottom: 30px;
}

.section-boxes .row {
  margin-bottom: 0 !important;
}

.section-contact {
  position: relative;
}

.section-contact .card-panel{

  position: relative; 
  z-index: 1;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.alert{
  text-align: center;
  background-color: lightslategray;
  color: white;;
  display: none;
}

.section-contact {
  /*background-image: url(https://i.pinimg.com/originals/08/a7/ab/08a7ab130881d2fb60585dc37744e04b.jpg);*/
background-image: url(https://www.copaair.com/promotions/airtrfx-lp/MIA-cover-md.jpg);
  background-size: cover;
  background-position: center;
}


.side-nav {
background-color: #FAFAFA;
background-size: cover;
}

.page-footer {}



@media (max-width: 600px) {
  .main-header {
    height: 50vh;
  }
}

.main-header-inner {
  background: url(https://media.giphy.com/media/46hpy8xB3MiHfruixn/giphy.gif);
  background-position: center;
  background-size: cover;
  height: 500px;
  }


.section-testimonials{
 /* background: url(https://media.giphy.com/media/46hpy8xB3MiHfruixn/giphy.gif);*/
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
  margin-top: 80px;

}
